/* line 1, ../../src/app/scss/main.scss */
body, html {
  padding: 0px;
  margin: 0px;
  height: 100%;
  background: transparent url(/img/body_bkg_b.jpg) repeat top left;
  font: normal normal normal 12px/14px arial, tahoma, verdana, sans-serif;
}

/* line 8, ../../src/app/scss/main.scss */
td {
  vertical-align: top;
  padding: 0px;
}

/* line 12, ../../src/app/scss/main.scss */
h1 {
  color: #4d85c5;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 20px;
  /*border-bottom: 1px solid #858591;*/
}

/* line 19, ../../src/app/scss/main.scss */
h2 {
  color: #4d85c5;
  font-size: 13px;
  font-weight: bold;
  padding: 5px 3px 5px;
  background: #E7EDF9;
}

/* line 26, ../../src/app/scss/main.scss */
#page {
  width: 880px;
  height: 100%;
  margin: 0px auto;
  background: transparent url(/img/center_bkg.jpg) repeat-y left top;
}

/* line 32, ../../src/app/scss/main.scss */
#header td {
  background: transparent url(/img/header_bkg-b.jpg) no-repeat center top;
  width: 880px;
  height: 216px;
  vertical-align: bottom;
}

/* line 38, ../../src/app/scss/main.scss */
#header td p {
  text-align: right;
  font-style: italic;
  font-weight: bold;
  color: #fff;
  margin: 0px 30px 9px 0px;
}

/* line 45, ../../src/app/scss/main.scss */
#column_left {
  width: 246px;
  height: 100%;
  background: transparent url(/img/left_column_bkg.jpg) no-repeat 6px bottom;
}

/* line 50, ../../src/app/scss/main.scss */
#left_image img {
  margin: 0px 0px 8px 6px;
  display: block;
}

/* line 54, ../../src/app/scss/main.scss */
#nav a {
  display: block;
  width: 217px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  background: #858591;
  padding: 10px 0px 10px 26px;
  margin: 5px 0px 5px 6px;
}

/* line 64, ../../src/app/scss/main.scss */
#nav a.sel, #nav a:hover {
  background: #858591 url(/img/bullet.jpg) no-repeat left 3px;
}

/* line 67, ../../src/app/scss/main.scss */
#column_right {
  width: 623px;
}

/* line 70, ../../src/app/scss/main.scss */
#content {
  margin: 20px 30px 20px 30px;
}

/* line 74, ../../src/app/scss/main.scss */
#pricing td {
  padding: 2px 0px;
  width: 100%;
}

/* line 75, ../../src/app/scss/main.scss */
tr.odd td {
  background: #F2F2F2;
}

/* line 76, ../../src/app/scss/main.scss */
table#pp td {
  vertical-align: middle;
}
