	body, html{
		padding: 0px;
		margin: 0px;
		height: 100%;
		background: transparent url(images/body_bkg_b.jpg) repeat top left;
		font: normal normal normal 12px/14px arial, tahoma, verdana, sans-serif;
	}
	td{
		vertical-align: top;
		padding: 0px;
	}
	h1{
		color: #4d85c5;
		font-size: 16px;
		font-weight: normal;
		margin-bottom: 20px;
		/*border-bottom: 1px solid #858591;*/
	}
	h2{
		color: #4d85c5;
		font-size: 13px;
		font-weight: bold;
		padding: 5px 3px 5px;
		background: #E7EDF9;
	}
	#page{
		width: 880px;
		height: 100%;
		margin: 0px auto;
		background: transparent url(images/center_bkg.jpg) repeat-y left top;
	}
	#header td{
		background: transparent url(images/header_bkg-b.jpg) no-repeat center top;
		width: 880px;
		height: 216px;
		vertical-align: bottom;
	}
	#header td p{
		text-align: right;
		font-style: italic;
		font-weight: bold;
		color: #fff;
		margin: 0px 30px 9px 0px;
	}
	#column_left{
		width: 246px;
		height: 100%;
		background: transparent url(images/left_column_bkg.jpg) no-repeat 6px bottom;
	}
	#left_image img{
		margin: 0px 0px 8px 6px;
		display: block;
	}
	#nav a{
		display: block;
		width: 217px;
		color: #fff;
		font-weight: bold;
		text-decoration: none;
		background: #858591;
		padding: 10px 0px 10px 26px;
		margin: 5px 0px 5px 6px;
	}
	#nav a.sel, #nav a:hover{
		background: #858591 url(images/bullet.jpg) no-repeat left 3px;
	}
	#column_right{
		width: 623px;
	}
	#content{
		margin: 20px 30px 20px 30px;
	}
	#footer{}
	#pricing td{ padding: 2px 0px; width: 100%; }
	tr.odd td{ background: #F2F2F2; }